@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 2.5rem #c53030; /* Tailwind's red-700 color */
}
.img:hover {
  box-shadow: 
      0 0 2.5rem #c53030,  /* Tailwind's red-700 color */
      0 0 5rem #c53030,    /* Tailwind's red-700 color */
      0 0 10rem #c53030;   /* Tailwind's red-700 color */
}
.custom-underline {
  text-decoration-color: black; /* Replace with your desired color */
}




@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Container for the gradient border */
.border-gradient-animation {
  position: relative;
  padding: 2px; /* Adjust the padding to create the border effect */
  border-radius: 8px; /* Adjust for rounded corners */
  background: linear-gradient(45deg, yellow, red, black,red);
  background-size: 400% 400%;
  animation: borderAnimation 3s linear infinite;
  box-shadow: 0 5px 10px orange;
}


/* Inner content container */
.content2 {
  position: relative;
  background-color:black; /* Dark background for better text visibility */
  padding: 20px;
  border-radius: 8px; /* Match the border radius of the outer container */
  box-shadow: 0 5px 10px orangered; /* Light shadow for better separation */
}


